# Haskell
dist
dist-*
cabal-dev
newdist
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.dir-locals.el


# LaTeX
*.aux
*.loa
*.lof
*.lol
*.lot
*.toc
*.out
*.log
*.ptb
*.bbl
*.blg
*.log
*.ptb
*.xml
*.bcf
*.hi
*.o
*.fdb_latexmk
*.fls
.auctex-auto/
*.tdo
.pdf
.tex
